OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_PROXY_URL=
OPENAI_WATCHDOG_INTERVAL_SECONDS=3600
DEVELOPMENT_MODE=false
DEVELOPMENT_SPAM_BAN_DELAY_SECONDS=5
DEVELOPMENT_UNBAN_DELAY_SECONDS=5
TELEGRAM_API_URL=
TELEGRAM_BOT_TOKEN=
WEBHOOK_PORT=
DATA_FOLDER_PATH=
SWYNCA_API_KEY=
